<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <title>ConvertCoin</title>
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <div class="nav-coitainer">
                    <div class="logo">
                        <a href="#">
                            <img src="{{ url_for('static', filename='imagens/dollar-sign.svg') }}"
                                alt="Descrição da imagem">
                            <span>ConvertCoin</span>
                        </a>
                    </div>
                    <div class="nav-bar">
                        <ul class="nav-items">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Sobre</a></li>
                            <li><a href="#">Noticias</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <aside>
            <div class="main-container">
                <div class="main-txt">
                    <h1>Conversor de moedas</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab molestias fugiat quis mollitia
                        exercitationem labore modi quaerat sequi! Non rem eius accusantium? Vitae, veritatis
                        repudiandae!
                        Hic, quaerat! Beatae, ullam laborum!
                    </p>
                    <form action="{{ url_for('convert') }}" method="post"class="main-btn">
                        <button type="submit">
                            Comece Agora
                            <img src="{{ url_for('static', filename='imagens/arrow-right.svg') }}"
                                alt="Descrição da imagem">
                        </button>
                    </form> 
                </div>
                <div class="main-img">
                    <img src="{{ url_for('static', filename='imagens/img.svg') }}" alt="Descrição da imagem">
                </div>
            </div>
        </aside>
    </div>
</body>

</html>